.infopanel
{
    width: 100%;
    height: auto;
    padding-bottom: 80px;
    background-color: rgb(201, 228, 251);
}

.infopanel .info-container
{
    display: grid;
    grid-template-columns: 1fr;
    
    padding: 20px;
}

.info-logo
{
    justify-self: center;
    background-color: rgb(176, 217, 254);
}

.info-logo img
{
    min-width: 200px;
}

.info-header
{
    justify-self: center;
    font-size: 50px;
}

.info-description-statistics
{
    display: grid;
    width: auto;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(17em, 24em));
    justify-content: center;
}

.info-statistics
{
    box-shadow: 0 4px 30px rgba(14, 13, 43, 0.4);
    background-color: rgb(29, 28, 92);
    color: rgba(255, 255, 255, .7);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.info-statistics p
{
    display: grid;
    justify-items: center;
}

.info-statistics p span
{
    font-size: 400%;
    color: white;
}

.info-description
{
    font-size: 25px;
    grid-column-end: auto;
}