.profile
{
    width: 100%;
    height: auto;
    padding: 50px 0 90px;
    background-color: rgb(201, 228, 251);
}

.profile-container
{
    display: grid;
    width: auto;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(25em, 30em));
    justify-content: center;
}

.profile-avatar
{
    justify-self: center;
}

.profile-avatar img
{
    width: 200px;
    box-shadow: 0 5px 5px rgba(14, 13, 43, 0.4);
}

.profile-panel
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(168, 212, 251);
    box-shadow: 0 5px 5px rgba(14, 13, 43, 0.4);
}

.profile-panel ul
{
    list-style-type: none;
}

.profile-panel-buttons
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 20px;
}

.profile-panel-buttons a
{
    display: grid;
    margin: 20px 10px;
    width: 120px;
    font-size: 15px;
    justify-content: center;
    align-content: center;
    background-color: rgb(29, 28, 92);
    border-radius: 100px;
    color: rgba(255, 255, 255, .7);
    box-shadow: 0 5px 5px rgba(14, 13, 43, 0.4);
    text-decoration: none;
    transition: all .1s ease-out;
}

.profile-panel-buttons #exit-button
{
    background-color: rgb(165, 42, 42);
    box-shadow: 0 5px 5px rgba(165, 42, 42, .4);
}

.profile-panel-buttons a:hover
{
    color: white;
}

.profile-sales, .profile-purchases
{
    margin-top: 10px;
    padding: 0 250px;
    background-color: rgb(168, 212, 251);
    box-shadow: 0 5px 5px rgba(14, 13, 43, 0.4);
}

.profile-sales p, .profile-purchases p
{
    width: 100px;
    font-size: 20px;
    font-weight: 800;
}

.profile-sales p, .profile-purchases ul
{
    justify-self: start;
}